// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 14px


.brand {
	padding: 10px 40px !important;
}

.site-title{
	font-size: 32px !important;
	line-height: 46px !important;
	color: #87daff !important;
}

.posts-expand .post-meta {
	font-size: 13px !important;
}

.menu .menu-item a {
	font-size: 15px !important;
}

.sidebar-toggle {
	padding: 8px !important;
	bottom: 55px !important;
}

.back-to-top { 
	font-size: 16px !important;
  width: 30px !important;
}

.with-love {
	color: rgba(232, 31, 31, 0.53) !important;
}

.site-author-name {
	font-size: 30px;
}

.feed-link a:hover {
	color: #fff !important;
	background: #44a4cd !important;
}

.feed-link a {
	 color: #44a4cd !important;
	 border: 1px solid #44a4cd !important;
}

.feed-link a:hover i {
	color: #fff !important;
}

.feed-link a i {
	color: #44a4cd !important;
}


.content-wrap {
	padding: 10px 25px !important;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5) !important;
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5) !important;
}

.header {
	background: transparent !important;
}